* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-flow: column nowrap;
    min-height: 120vh;
}

button {
    width: 200px;
    height: 50px;
    align-self: center;
}

div {
    display: flex;
    flex-flow: column nowrap;
}

pre {
    font-size: 1.25rem;
    text-wrap-mode: wrap;
}
