* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
    display: block;
}

body {
    display: flex;
    flex-flow: column nowrap;
    min-width: 120vh;
}

article > div {
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    margin-block: 1rem 1rem;
}

.joke-div {
    display: flex;
    flex-flow: column nowrap;
    line-height: 2;
}

.joke-div > p {
    margin-left: 2rem;
}

.setup {
    font-weight: bold;
}
