* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-flow: column nowrap;
    min-height: 120vh;
    background-color: #000;
}

.pads-container {
    display: grid;
    margin-top: 3rem;
    grid-template-columns: repeat(4, 100px);
    grid-auto-rows: 100px;
    justify-content: center;
    gap: 10px;
}

button {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
    opacity: 0.1;
}

.on {
    opacity: 1;
}

.inner-div {
    display: grid;
    justify-content: center;
}

.all-off {
    background-color: firebrick;
    color: white;
    width: 150px;
    opacity: 1;
    height: 50px;
    margin-block-start: 1rem;
    font-weight: 500;
}
