@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
}

html {
    scroll-behavior: smooth;
    font-family: "IBM Plex Mono", sans-serif;
}

.logo {
    width: 72px;
    height: auto;
    background-color: transparent;
}

header {
    display: flex;
    align-items: center;
    padding: 2rem 2rem;
    background-color: #1e1f25;
}

body {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

nav {
    display: flex;
    background-color: transparent;
}

main {
    background-image: url(./assets/react-logo-half.png);
    background-position-x: right;
    background-position-y: 40%;
    background-repeat: no-repeat;
    background-size: 15%;
    background-color: #23272c;
    min-height: 100vh;
}

nav > h1 {
    margin-left: 1rem;
    font-weight: 600;
    font-size: 3rem;
    color: #61DBFB;
    background-color: transparent;
}

ol {
    margin-left: 8rem;
    list-style-type: disc;
    font-size: 1.25rem;
    font-weight: 500;
    background-color: transparent;
    width: 800px;
}

ol > li {
    padding-block: 10px;
    line-height: 19px;
    background-color: transparent;
}

ol > li > p {
    background-color: transparent;
}

ol > li::marker {
    color: #61DBFB;
    font-size: 2rem;
}

.main-heading {
    background-color: transparent;
    font-size: 4rem;
    padding: 6rem 0 3rem 4rem;
}
