* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --DEFAULT-BORDER: 1px solid #000;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    background-color: #27cfb6;
}

form {
    display: grid;
    place-content: center center;
    row-gap: 1rem;
}

.heading {
    font-size: 3rem;
    margin: 2rem 2rem;
    text-align: center;
}

label {
    display: flex;
    flex-flow: column nowrap;
    font-size: 1.25rem;
    row-gap: 5px;
    font-weight: 550;
}

input {
    height: 50px;
    width: 250px;
    border-radius: 25px;
    padding: 0 0.5rem;
}

textarea {
    border: var(--DEFAULT-BORDER);
    height: 70px;
    width: 300px;
}

legend {
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: 5px;
}

fieldset {
    display: flex;
    flex-flow: column nowrap;
    border: var(--DEFAULT-BORDER);
    height: 120px;
    row-gap: 10px;
}

.checkbox-label {
    display: flex;
    flex-flow: row nowrap;
}

.checkbox {
    width: 20px;
    height: 15px;
    font-size: 1rem;
}

button {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    border: var(--DEFAULT-BORDER);
    margin: auto;
}
