* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-flow: column nowrap;
    min-height: 120vh;
}

img {
    width: 100%;
    display: block;
}

header {
    background-color: #f54f52;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
    column-gap: 0.5rem;
}

.main-heading {
    color: white;
    font-weight: 500;
}

.globe-svg {
    width: 64px;
    color: white;
}

section {
    display: grid;
    grid-auto-rows: 425px;
}

article {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 4rem;
    column-gap: 2rem;
}

.blog-img {
    width: 300px;
    height: 350px;
    border-radius: 15px;
}

.blog-div {
    display: flex;
    flex-flow: column nowrap;
}

.blog-header-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
    column-gap: 5px;
}

.blog-country {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.blog-header-div > a {
    color: gray;
    text-transform: none;
    margin-left: 5px;
}

.blog-place {
    font-size: 3rem;
    margin-block: 1rem;
}

.blog-date {
    font-weight: bold;
}

.blog-description {
    text-wrap: wrap;
    width: 500px;
    margin-top: 1rem;
    line-height: 1.5;
}

.location-svg {
    width: 28px;
}
